<p>Hospital Form</p>
<div class="container card">
	<form (submit)="onSubmit()">
		<div class="row">
			<div class="col-md-4 offset-md-4">
				<label class="sr-only" for="name">Name</label> <input type="text"
					class="form-control" id="name" [(ngModel)]="hospitalForm.name"
					placeholder="Enter name" name="name">
			</div>
		</div>
		<hr class="mt-4">
		<div class="row">
			<div class="col-md-6">
				<label class="sr-only" for="contactName">Contact Name</label> <input
					type="text" class="form-control" id="contact_name"
					[(ngModel)]="hospitalForm.contact_name" placeholder="Enter contact name"
					name="contact_name">
			</div>
			<div class="col-md-6">
				<label class="sr-only" for="contactPhone">Contact Phone</label> <input
					type="number" class="form-control" id="contact_phone"
					[(ngModel)]="hospitalForm.contact_phone" placeholder="Enter contact phone"
					name="contact_phone">
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<label class="sr-only" for="address">Address</label> <input
					type="text" class="form-control" id="address"
					[(ngModel)]="hospitalForm.address" placeholder="Enter address"
					name="address">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
		        <label class="sr-only" for="total_bed">Total beds</label>
		        <input type="number" class="form-control" id="total_bed" [(ngModel)]="hospitalForm.total_bed" (ngModelChange)="updateAvailableBeds()" placeholder="Total number of beds?"  name="total_bed">
		      </div>
					<div class="col-md-4">
		        <label class="sr-only" for="occupied_bed">Occupied beds</label>
		        <input type="number" class="form-control" id="occupied_bed" (ngModelChange)="updateAvailableBeds()" [(ngModel)]="hospitalForm.occupied_bed" placeholder="How many beds are occupied?"  name="occupied_bed">
		      </div>
				<div class="col-md-4">
			        <label class="sr-only" for="available_bed">Available beds</label>
			        <input type="number" class="form-control" id="available_bed" readonly [value]="hospitalForm.available_bed" name="available_bed">
		      </div>
      </div>
		<div class="row p-2">
			<div class="col-md-2">
				<button type="submit" class="btn btn-info">Add</button>
			</div>
			<div class="col-md-2 offset-md-8">
				<button value="Search" class="btn btn-primary" (click)="find()">Search</button>
			</div>
		</div>
	</form>
	<div class="m-5">
	<div class="alert alert-danger" role="alert" *ngIf="errorMsg">{{errorMsg}}</div>
	<div class="alert alert-success" role="alert" *ngIf="info">{{info}}</div>
</div>
</div>

<div class="container">
	<table class="table table-hover table-striped" *ngIf="showTable">
		<thead class="thead-dark">
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Address</th>
				<th>Contact Name</th>
				<th>Contact Phone</th>
				<th>Total Bed</th>
                <th>Occupied Bed</th>
                <th>Available Bed</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let h of hospitals">
				 <td>{{h.id}} </td>
                <td>{{h.name}}</td>
                <td>{{h.address}}</td>
                <td>{{h.contact_name}} </td>
                <td>{{h.contact_phone}}</td>
                <td>{{h.total_bed}}</td>
                <td>{{h.occupied_bed}}</td>
                <td>{{h.available_bed}}</td>
			</tr>
			<tr class="alert alert-danger" role="alert" *ngIf="hospitals.length==0">
				<td colspan="8" class="text-center">No Records</td>
			</tr>
		</tbody>
	</table>
</div>