<p>Hospital Form</p>
<div class="container card">
	<form [formGroup]="hospitalForm" (submit)="onSubmit()">
		<div class="row">
			<div class="col-md-4 offset-md-4">
				<label class="sr-only" for="name">Name</label> <input type="text"
					class="form-control" id="name" formControlName="name"
					placeholder="Enter name" name="name">
			</div>
		</div>
		<hr class="mt-4">
		<div class="row">
			<div class="col-md-6">
				<label class="sr-only" for="contactName">Contact Name</label> <input
					type="text" class="form-control" id="contact_name"
					formControlName="contact_name" placeholder="Enter contact name"
					name="contact_name">
			</div>
			<div class="col-md-6">
				<label class="sr-only" for="contactPhone">Contact Phone</label> <input
					type="number" class="form-control" id="contact_phone"
					formControlName="contact_phone" placeholder="Enter contact phone"
					name="contact_phone">
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<label class="sr-only" for="address">Address</label> <input
					type="text" class="form-control" id="address"
					formControlName="address" placeholder="Enter address"
					name="address">
			</div>
			<div class="col-md-2">
				<label for="product">Product</label> <select
					class="form-control" name="product" id="product"
					formControlName="pid">
					<option value="">Select Product</option>
					<option value="1">Oxygen</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
		        <label class="sr-only" for="total_bed">Total Number beds</label>
		        <input type="number" class="form-control" id="total_bed" formControlName="total_bed" (ngModelChange)="updateAvailableBeds()" placeholder="Enter total_bed"  name="total_bed">
		      </div>
					<div class="col-md-4">
		        <label class="sr-only" for="occupied_bed">Occupied beds</label>
		        <input type="number" class="form-control" id="occupied_bed" (ngModelChange)="updateAvailableBeds()" formControlName="occupied_bed" placeholder="Enter occupied_bed"  name="occupied_bed">
		      </div>
				<div class="col-md-4">
			        <label class="sr-only" for="available_bed">Available Beds</label>
			        <input type="number" class="form-control" id="available_bed" readonly [value]="available_bed" name="available_bed">
		      </div>
      </div>
		<div class="row">
			<div class="col-md-2">
				<button type="submit" class="btn btn-info">Add</button>
			</div>
			<div class="col-md-2 offset-md-8">
				<button value="Search" class="btn btn-primary" (click)="find()">Search</button>
			</div>
		</div>
	</form>
</div>

<div class="container">
	<div class="alert alert-danger" role="alert" *ngIf="errorMsg">{{errorMsg}}</div>
	<div class="alert alert-success" role="alert" *ngIf="info">{{info}}</div>
	<table class="table table-hover table-striped">
		<thead class="thead-dark">
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Address</th>
				<th>Contact Name</th>
				<th>Contact Phone</th>
				<th>Total Bed</th>
                <th>Occupied Bed</th>
                <th>Available Bed</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let h of hospitals">
				 <td>{{h.id}} </td>
                <td>{{h.name}}</td>
                <td>{{h.address}}</td>
                <td>{{h.contact_name}} </td>
                <td>{{h.contact_phone}}</td>
                <td>{{h.total_bed}}</td>
                <td>{{h.occupied_bed}}</td>
                <td>{{h.available_bed}}</td>
			</tr>
			<tr class="alert alert-danger" role="alert" *ngIf="hospitals.length==0">No Records</tr>
		</tbody>
	</table>
</div>